
/*.container{*/
/*     display: flex;*/
/*     justify-content: space-around;*/
/* }*/
body{
    background-image: url("image/bgimg.png");
    background-size: cover ;
    background-attachment: fixed;
}
.div_center
{
    margin: 0 auto;
    max-width: 1200px;
    background-color: #ccc;
    border-radius: 3px;
}
.dropdown :hover>.dropdown-menu{
    display: block;
}
iframe {
    width: 100%;
    margin: 0 auto;
    background-color: #777;
    display: block;
    border-style:none;
}


.table{
    margin-bottom: -0.22rem;
}

